<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
  <script src="/static/js/libs/d3.v3.5.17.min.js" type="text/javascript"></script>
  <script src="/static/js/libs/topojson.v1.min.js" type="text/javascript"></script>
  <script src="/static/js/libs/datamaps.world.min.js" type="text/javascript"></script>
  <title>Twitter Sentiment Analysis with Spark MLlib</title>
</head>
<body>
  <a href="https://github.com/P7h/Spark-MLlib-Twitter-Sentiment-Analysis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
  <div id="header">
    <h1>Twitter Sentiment Analysis with Spark MLlib</h1>
  </div>
  <div id="subtext1">
    <h3>
      <span class="underline">Tech Stack</span>: Scala, Spark {MLlib, Streaming, SQL}, Stanford CoreNLP, Redis, Flask and Datamaps.
    </h3>
  </div>
  <div id="subtext2">
    <h3>Please check the accompanying <a class="linker" href="http://P7h.org/blog/2016/08/21/spark-twitter-sentiment/" target="_blank">blog post</a> for more info.
    </h3>
  </div>
  <div id="worldmap"></div>
  <script src="/static/js/datamap.js" type="text/javascript"></script>
</body>
